@model IEnumerable<AutoParts.Models.Entities.Request>
@{
    ViewData["Title"] = "Report";

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<button id="btnPdf" class="btn btn-primary">Generate pdf</button>


<div id="pdfContainer" style="text-align:center;">
    <table class="table" style="border:solid;">
        <thead>
            <tr>
                <th>Id Request</th>
                <th>Detail Name</th>
                <th>Note</th>
                <th>Contacts</th>
                <th>UserID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th>@item.Id</th>
                <th>@item.Detail</th>
                <th>@item.Note</th>
                <th>@item.Сontacts</th>
                <th>@item.UserId</th>                
            </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $("#btnPdf").click(function () {
        var sHtml = $("#pdfContainer").html();
        sHtml = sHtml.replace(/</g, "StrTag").replace(/>/g, "EndTag");
        window.open('../Home/GeneratePdf?html=' + sHtml, '_blank');
    });
</script>
